.container{
    width: 300px;
    padding: 1.5rem;
    background-color: white;
}
.container__nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container__nav li, .container__nav li div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.container__nav li {
    justify-content: space-between;
    cursor: pointer;
}
.container__nav li div span:first-child{
    width: 20px;
    height: 23.23px;
}
